<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{greenhouse.name}} Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-8">

        <div class="panel panel-default monitoring">
            <div class="panel-heading">
                Greenhouse Monitoring
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-default btn-xs">reload</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div>
                    <h3><i class="wi wi-thermometer"></i> Temperature: <span>{{monitoring["temperature"]}} <i class="wi wi-celsius"></i></span></h3>
                    <h3><i class="wi wi-humidity"></i> Soil Humidity Pot 1: <span>{{monitoring["soilHumidity1"]}} </span></h3>
                    <h3><i class="wi wi-humidity"></i> Soil Humidity Pot 2: <span>{{monitoring["soilHumidity2"]}} </span></h3>
                    <h3><i class="wi wi-humidity"></i> Humidity: <span>{{monitoring["airHumidity"]}} <i class="fa fa-percent"></i></span></h3>
                    <h3><i class="wi wi-day-sunny"></i> Luminance: <span>{{monitoring["luminance"]}} <i class="fa fa-percent"></i></span></h3>
                </div>
            </div>
        </div>

        <div class="panel panel-default thresholds-panel">
            <div class="panel-heading">
                Thresholds
            </div>
            <div class="panel-body">
                <form class='form-inline' name="form">

                    <div class='thresholds-group'>
                        <h3><i class="wi wi-thermometer"></i> Temperature:</h3>
                        <div class="form-group" data-show-errors>
                            <label class='control-label'>min: </label>
                            <input type="number" name="tempMin" class='form-control' ng-model="thresholds['temperature']['minValue']" lower-than="{{thresholds['temperature']['maxValue']}}">
                            <label class='control-label'>max: </label>
                            <input type="number" name="tempMax" class='form-control' ng-model="thresholds['temperature']['maxValue']"> <i class="wi wi-celsius"></i>
                            <p class="help-block" ng-if="form.tempMin.$error.lowerThan">Minimum value cannot surpass the maximum value </p>
                        </div>
                    </div>

                    <div class='thresholds-group'>
                        <h3><i class="wi wi-humidity"></i> Humidity</h3>
                        <div class="form-group" data-show-errors>
                            <label class='control-label'>min: </label>
                            <input type="number" class='form-control' name="humMin" ng-model="thresholds['airHumidity']['minValue']" lower-than="{{thresholds['airHumidity']['maxValue']}}">
                            <label class='control-label'>max: </label>
                            <input type="number" class='form-control' ng-model="thresholds['airHumidity']['maxValue']"> <i class="fa fa-percent" ></i>
                            <p class="help-block" ng-if="form.humMin.$error.lowerThan">Minimum value cannot surpass the maximum value </p>

                        </div>
                    </div>

                    <div class='thresholds-group'>
                        <h3><i class="wi wi-day-sunny"></i> Luminance</h3>
                        <div class="form-group" data-show-errors>
                            <label class='control-label'>min: </label>
                            <input type="number" class='form-control' name="lumMin" ng-model="thresholds['luminance']['minValue']" lower-than="{{thresholds['luminance']['maxValue']}}">
                            <label class='control-label'>max: </label>
                            <input type="number" class='form-control' ng-model="thresholds['luminance']['maxValue']"> <i class="fa fa-percent" ></i>
                            <p class="help-block" ng-if="form.lumMin.$error.lowerThan">Minimum value cannot surpass the maximum value </p>

                        </div>
                    </div>

                    <div class="thresholds-group">
                        <h3><i class="wi wi-humidity"></i> Soil Humidity</h3>
                        <div class="form-group" data-show-errors>
                            <label class='control-label'>min: </label>
                            <input type="number" class='form-control' name="SoHumMin" ng-model="thresholds['soilHumidity']['minValue']" lower-than="{{thresholds['soilHumidity']['maxValue']}}">
                            <label class='control-label'>max: </label>
                            <input type="number" class='form-control' ng-model="thresholds['soilHumidity']['maxValue']">
                            <p class="help-block" ng-if="form.SoHumMin.$error.lowerThan">Minimum value cannot surpass the maximum value </p>

                        </div>
                    </div>
                    
                    <div class="thresholds-group">
                        <h3><i class="wi wi-day-sunny"></i> Day time</h3>
                        <div class="form-group">
                             <label class='control-label'>start: </label>
                            <input type="time" class='form-control' value='06:00:00'>
                            <label class='control-label'>finish: </label>
                            <input type="time" class='form-control' value='17:00:00'> 
                        </div>
                    </div>
                    <div class="thresholds-group">
                        <h3><i class="wi wi-night-clear"></i> Night time</h3>
                        <div class="form-group">
                             <label class='control-label'>start: </label>
                            <input type="time" class='form-control' name="nightTimeMin" value='18:00:00'>
                            <label class='control-label'>finish: </label>
                            <input type="time" class='form-control' value='06:00:00'> 
                        </div>
                    </div>
                    <div class="form-group form-footer">
                        <button type='submit' class='btn btn-default' ng-click='submit($event)'>Set</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>